.footer{
    display: grid;
    padding: 30px 100px;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    color: var(--white);
    background-color: black;
}

.footer__menu{
    margin-right: 70px;
    display: flex;
}

.footer__menu li{
    margin-right: 30px;
}

.footer__redes{
    text-align: end;
}
.footer__redes img{
    margin-left: 20px;
}

.footer__info{
    text-align: end;
}
.footer__info span{
    color: var(--very-dark-gray);
    padding-bottom: 10px;
}
.footer__info p{
    font-weight: normal;
}

@media screen and (max-width: 910px){
    .footer{
        justify-content: center;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .footer__menu{
        margin: 0;
    }
    .footer__redes{
        order: 1;
    }
    .footer__info{
        order: 1;
        text-align: center;
    }
}

@media screen and (max-width:460px){
    .footer__menu li{
        margin-right: 5px;
    }
}