.header{
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(../images/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header__navbar{
    z-index: 1;
    width: 85%;
    height: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__figure img{
    width: 230px;
}
.header__menu{
    display: flex;
}
.header__menu-item{
    margin-left: 20px;
    color: var(--white);
    font-weight: lighter;
    font-size: 1rem;
}
.header__description{
    height: auto;
    width: 45%;
    border: 2px solid var(--white);
    margin-top: 100px;
    margin-left: 100px;
    text-align: left;
    padding: 30px;
}
.header__description h2{
    font-size: 4.5rem;
    color: var(--white);
    font-family: 'Josefin Sans';
    font-weight: lighter;
    text-transform: uppercase;
}
